<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Blackjack</title>
</head>
<body>
    <h1>🂡 Blackjack</h1>
    <form action="/blackjack/draw" method="post">
        <button type="submit">Dra 2 kort</button>
    </form>

    {% if cards %}
        <h2>Dina kort:</h2>
        {% for card in cards %}
            <img src="{{ card.image }}" alt="{{ card.value }} {{ card.suit }}">
        {% endfor %}
    {% endif %}
    {% if points is defined %}
    <p>Poäng: {{ points }}</p>
    {% endif %}

    <br><br>
    <a href="/">Tillbaka till start</a>
</body>
</html>
